.nav-wrapper {
  padding: 0 2rem;
}

.position-center {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.position-space-between {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.position-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.price {
  font-size: 2rem;
}

.course {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h1 {
  margin-bottom: 2rem;
}

.course img {
  max-width: 600px;
  height: auto;
}

.course .price.big {
  font-size: 2.5rem;
}

.course-form {
  margin-bottom: 2rem;
}

.fixed-width {
  width: 100%;
  text-align: center;
}

.order-container {
  width: 100%;
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background: linear-gradient(to left, lightgray, white);
  box-shadow: 4px 5px 3px gray;
}

.order-container span {
  font-weight: 700;
  font-style: italic;
}

.order-container ol {
  width: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.order-container ol>li {
  width: 100%;
  padding: 5px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.order-container ol>li img {
  margin: 5px;
}

.order-container hr {
  width: 100%;
}
