.nav-wrapper {
  padding: 0 2rem;
}

.position-center {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.position-space-between {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.position-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.position-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.price {
  font-size: 2rem;
}

.course {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h1 {
  margin-bottom: 2rem;
}

.course img {
  max-width: 600px;
  height: auto;
}

.course .price.big {
  font-size: 2.5rem;
}

.course-form {
  margin-bottom: 2rem;
}

.fixed-width {
  width: 100%;
  text-align: center;
}

.order-container {
  width: 100%;
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background: linear-gradient(to left, lightgray, white);
  box-shadow: 4px 5px 3px gray;
}

.order-container span {
  font-weight: 700;
  font-style: italic;
}

.order-container ol {
  width: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.order-container ol>li {
  width: 100%;
  padding: 5px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.order-container ol>li img {
  margin: 5px;
}

.order-container hr {
  width: 100%;
}

.auth {
  padding-top: 3rem;
}

.alert {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;

  text-align: center;

  background-color: rgba(255, 0, 0, 0.45);
  color: darkred;
  border-radius: 15px;
}

.success {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;

  text-align: center;

  background-color: rgba(0, 255, 0, 0.45);
  color: darkgreen;
  border-radius: 15px;
}

.status-font {
  font-size: 12px;
  font-style: italic;
  color: darkgreen;
}

.alert-font {
  font-size: 18px;
  font-style: italic;
  color: red;
}

.ref-link {
  font-size: 20px;
  font-style: italic;
  color: cadetblue;

  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.ref-link:hover {
  color: rgba(darkblue, 0.7);
}

.avatar {
  max-width: 250px;
  height: auto;

  border: none;
  border-radius: 25%;
  box-shadow: 3px -2px 5px darkslategrey;
}
