<div class="position-center">
  <h1>Your Cart:</h1>

  <div
    id="cart"
    class="fixed-width"
  >
    {{#if courses.length}}
    <table>
      <thead>
        <tr>
          <th>Title:</th>
          <th>Price:</th>
          <th>Count:</th>
          <th>Actions:</th>
        </tr>
      </thead>

      <tbody>
        {{#each courses }}
        <tr>
          <td>{{title}}</td>
          <td>{{price}}</td>
          <td>{{count}}</td>
          <td>
            <button
              class="btn btn-small js-remove"
              data-id="{{_id}}"
            >Delete</button>
          </td>
        </tr>
        {{/each}}
      </tbody>

    </table>

    <p class="position-start">
      <strong>Price: </strong>
      <span class="price">{{totalPrice}}</span>
    </p>
    {{else}}
    <p>Now Your Card Is Empty, But You Can Fix It=)</p>
    {{/if}}
  </div>
</div>
