<nav>
  <div class="nav-wrapper">
    <a
      href="/"
      class="brand-logo"
    >NodeJS Site</a>
    <ul
      id="nav-mobile"
      class="right hide-on-med-and-down"
    >

      {{#if isHome}}
      <li class="active"><a href="/">Home Page</a></li>
      {{else}}
      <li><a href="/">Home Page</a></li>
      {{/if}}

      {{#if isAllCourses}}
      <li class="active"><a href="/courses">Courses Page</a></li>
      {{else}}
      <li><a href="/courses">Courses Page</a></li>
      {{/if}}

      {{#if isAddCourse}}
      <li class="active"><a href="/add">Add Course Page</a></li>
      {{else}}
      <li><a href="/add">Add Course Page</a></li>
      {{/if}}

      {{#if isAbout}}
      <li class="active"><a href="/about">About Page</a></li>
      {{else}}
      <li><a href="/about">About Page</a></li>
      {{/if}}

      {{#if isOrders}}
      <li class="active"><a href="/orders">Orders Page</a></li>
      {{else}}
      <li><a href="/orders">Orders Page</a></li>
      {{/if}}

      {{#if isCart}}
      <li class="active"><a href="/cart">Cart Page</a></li>
      {{else}}
      <li><a href="/cart">Cart Page</a></li>
      {{/if}}

      {{#if isLogin}}
      <li class="active"><a href="/auth">Login Page</a></li>
      {{else}}
      <li><a href="/auth">Login Page</a></li>
      {{/if}}
    </ul>
  </div>
</nav>
