<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">NodeJS Site</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
        <a href="/">Home Page</a>
      </li>

      <li>
        <a href="/cources">All Courses</a>
      </li>

      <li>
        <a href="/add">Add New Course</a>
      </li>

      <li>
        <a href="/about">About Page</a>
      </li>
      </ul>
    </div>
  </nav>
