<div class="row">
  <div class="col s6 offset-s3">

    <h3 class="fixed-width">Create New Password</h3>

    <form
      action="/auth/recovery"
      method="POST"
      class="fixed-width auth"
    >
      <div class="input-field">
        <input
          placeholder="Please, Write Your New Password"
          id="password"
          name="password"
          type="password"
          class="validate"
          required
        >
        <label for="password">New Password</label>
        <span
          class="helper-text"
          data-error="Please, Write Correct Password"
        ></span>
      </div>

      <div class="input-field">
        <input
          placeholder="Please, Repeat Your New Password"
          id="rpassword"
          name="repeatPassword"
          type="password"
          class="validate"
          required
        >
        <label for="rpassword">Repeat Password</label>
        <span
          class="helper-text"
          data-error="Please, Repeat Correct Password"
        ></span>
      </div>

      <input
        type="hidden"
        name="_csrf"
        value="{{csrf}}"
      >

      <input
        type="hidden"
        name="userId"
        value="{{userId}}"
      >

      <input
        type="hidden"
        name="token"
        value="{{token}}"
      >

      <button
        class="btn btn-primary"
        type="submit"
      >Update Password</button>
    </form>
  </div>
</div>
