<div class="row">
  <div
    id="login"
    class="col s6 offset-s3"
  >

    <h3 class="fixed-width">Do You Forget Password?</h3>

    <form
      action="/auth/reset"
      method="POST"
      class="fixed-width auth"
    >
      <div class="input-field">
        <input
          placeholder="Please, Write Your Email"
          id="email"
          name="email"
          type="email"
          class="validate"
          required
        >
        <label for="email">Email</label>
        <span
          class="helper-text"
          data-error="Please, Write Correct Email"
        ></span>
      </div>

      <input
        type="hidden"
        name="_csrf"
        value="{{csrf}}"
      >

      <button
        class="btn amber darken-3"
        type="submit"
      >Reset Password</button>
    </form>
  </div>
</div>
